
@{
    Layout = null;
    My_pro.Model.Entites.Users U = Session["CUser"] as My_pro.Model.Entites.Users;
    string pic = Session["Pic"].ToString();
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="icon" type="image/png" href="~/img/Default/Icon/Bim.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="~/css/style4.css">
    <link href='~/css/Alert.css' rel='stylesheet' type='text/css'>

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }

        .img {
            width: 85%;
            height: 60%;
            margin-top: 12%;
            margin-bottom: 10%;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .flex-item3 {
            background-color: #fff;
            width: 200px;
            margin: 18px;
            height: 270px;
            border: 1px solid #ccc !important;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }

            .flex-item3:hover {
                background-color: #4b8bf5;
                color: white;
                box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }

        .Tcontainer {
            padding: 5px;
            font-size: 20px;
        }

        .flex-item3:active {
            background-color: #2e6fdb;
            color: white;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>

<body>
    <!-- Fixed Code -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <br>
                <br>
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <img src="../../../img/icon/M.png" style="height: 20px; width: 20px" alt="Avatar">
                </button>
                <h3 class="w3-center">
                    <a class="w3-center">
                        <img src="@pic" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                    </a><br />
                    <br> @U.UserName
                </h3>
                <strong></strong>
            </div>
            <ul class="list-unstyled components">
                <li  class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="../../../Home/Main">Main</a>
                        </li>
                        <li>
                            <a href="../../../Home/Base">Home</a>
                        </li>
                    </ul>
                </li>
            @if (this.User.IsInRole("Admin"))
             {
                <li>
                    <a href="#TAdmin" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        Admin
                    </a>
                    <ul class="collapse list-unstyled" id="TAdmin">
                        <li>
                            <a href="../../../Admin/Admin_Control">Admin Dashboard</a>
                        </li>
                        <li>
                            <a href="../../../Admin/AllUsersList">Users</a>
                        </li>
                        <li>
                            <a href="../../../Levels/ViewCoursesAdmin">Courses</a>
                        </li>
                        <li>
                            <a href="../../../Levels/Chapter">Chapters</a>
                        </li>
                        <li>
                            <a href="../../../Levels/Lectures">Lectures</a>
                        </li>
                        <li>
                            <a href="../../../Levels/Question">Questions</a>
                        </li>
                        <li>
                            <a href="../../../Blog/BlogsList">Blogs</a>
                        </li>
                    </ul>
                </li>
             }
                <li>
                    <a href="#TAccount" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        Account
                    </a>
                    <ul class="collapse list-unstyled" id="TAccount">
                        <li>
                            <a href="../../../Home/TProfile">Profile</a>
                        </li>
                        <li>
                            <a href="../../../Home/EditProfile">Setting</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="../../../Levels/LevelsView">
                        <i class="glyphicon glyphicon-education"></i>
                        Courses
                    </a>
                </li>
                <li>
                    <a href="../../../Blog/SearchBlog">
                        <i class="fa fa-lightbulb-o"></i>
                        Blogs
                    </a>
                </li>
                <li>
                    <a href="#TFiles" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        Files
                    </a>
                    <ul class="collapse list-unstyled" id="TFiles">
                        <li>
                            <a href="../../../Files/My_Files">My Drive</a>
                        </li>
                        <li>
                            <a href="../../../Files/All_Files">All Files</a>
                        </li>
                        <li>
                            <a href="../../../Files/Upload_File">Upload File</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#TFriends" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-users"></i>
                        Friends
                    </a>
                    <ul class="collapse list-unstyled" id="TFriends">
                        <li>
                            <a href="../../../Friends/Search">Search</a>
                        </li>
                        <li>
                            <a href="../../../Friends/MyFriends">My Friends</a>
                        </li>
                        <li>
                            <a href="../../../Friends/Requests">Requests</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="../../../Home/About">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        About
                    </a>
                </li>
            </ul>
        </nav>
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
                   href="javascript:void(0);" onclick="openNav()">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="../../../Home/Main" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                    <i class="fa fa-home w3-margin-right"></i>Main
                </a>
                <a href="../../../Blog/BlogsList" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Blogs">
                    <i class="fa fa-globe"></i>
                </a>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-button w3-padding-large" title="Friends">
                        <i>
                            <img src="../../../img/icon/friendicon.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
                        </i>
                    </button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                        <a href="../../../Friends/Search" class="w3-bar-item w3-button Tchoose">
                            <img src="../../../img/icon/AddFicon.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> Add Friends
                        </a>
                        <a href="../../../Friends/MyFriends" class="w3-bar-item w3-button Tchoose">
                            <img src="../../../img/icon/MyFriends.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> My Friends
                        </a>
                        <a href="../../../Friends/Requests" class="w3-bar-item w3-button Tchoose">
                            <img src="../../../img/icon/request.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar"> Friend Requests
                        </a>
                    </div>
                </div>
                <a href="../../../Home/TProfile" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
                    <img src="@pic" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
                </a>
                <a href="../../../Home/EditProfile" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Edit Profile">
                    <img src="../../../img/icon/Settings.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
                </a>
            </div>
        </div>
        <!-- End Fixed Code -->
        <!-- Page Content Holder -->
        <div id="content">
            <br>
            <br>
            <div class="w3-col m15">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h3 class="w3-opacity">Main:</h3>
                                <hr class="w3-clear">
                                <div class="flex-container">
                                    <a href="../../Levels/LevelsView" class="flex-item3">
                                        <img src="~/img/Default/Icon/course.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">Courses</div>
                                    </a>
                                    <a href="../../Blog/SearchBlog" class="flex-item3">
                                        <img src="~/img/Default/Icon/blog.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">Blogs</div>
                                    </a>
                                    @*<a href="../../Books/BooksList" class="flex-item3">
                                        <img src="~/img/Default/Icon/book.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">Books</div>
                                    </a>*@
                                    <a data-toggle="modal" data-target="#TTFile" class="flex-item3">
                                        <img src="~/img/Default/Icon/files.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">Files</div>
                                    </a>
                                    <a href="../../Home/About" class="flex-item3">
                                        <img src="~/img/Default/Icon/About.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">About</div>
                                    </a>
                                    <a href="../../Friends/MyFriends" class="flex-item3">
                                        <img src="~/img/Default/Icon/friends.png" alt="Norway" Class="img">
                                        <div class="Tcontainer">Friends</div>
                                    </a>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- alart modal -->
    <div class="modal fade" id="TTFile" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Dialog :</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <form>
                        <label>Redirect to ...</label><br /><br /><br /><br />
                    </form>
                </div>
                <div class="modal-footer btn-G">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button onclick="location.href='../../../Files/My_Files'" type="button" class="btn-T" data-dismiss="modal" role="button">My Files</button>
                        </div>
                        <div class="btn-group btn-delete" role="group">
                            <button onclick="location.href='../../../Files/All_Files'" type="button" class="btn-T" data-dismiss="modal" role="button">All Files</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end alart modal -->
</body>
</html>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar').toggleClass('active');
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>